@model ASPDevApp.Models.Category
@{
    ViewBag.Title = "Details";
}
@Html.ActionLink("Back to My Category", "Index", "Categories",
    null,
    new { @class = "btn btn-primary" })

<h2>Category Details</h2>
<style>
    h2 {
        display: inline-block;
        font: bold 4.5em/1.5 Bebas, sans-serif;
        color: #5CA17C; /*non-webkit fallback*/
        font-size: 72px;
        text-transform: uppercase;
    }
</style>
<ul>
    <li>@Model.Name</li>
    <li>@Model.Description</li>
</ul>
