
@{
    ViewBag.Title = "Index";
}

<h2>Index Course</h2>
<style>
    h2 {
        display: inline-block;
        font: bold 4.5em/1.5 Bebas, sans-serif;
        color: #5CA17C;
        font-size: 72px;
        text-transform: uppercase;
    }
</style>
