@model IEnumerable<ASPDevApp.Models.TraineeProfile>
@{
    ViewBag.Title = "Index";
}

<h2>Index Traniee</h2>

<div class="form-group">
    @Html.ActionLink("Create Trainee Account",
                    "Create",
                    "Trainees",
                    null,
                    new {@class= "btn btn-info"}
                    )
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Trainee Id</th>
            <th scope="col">Gmail</th>
            <th scope="col">First Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var TraineeProfile in Model )
        {
        <tr>
            <th scope="row">@TraineeProfile.TraineeId</th>
            <td>@TraineeProfile.Gmail</td>
            <td>@TraineeProfile.FristName</td>

            <td>
                <a href="#" class="btn btn-info">Change Password </a>
                <a href="#" class="btn btn-danger">Delete </a>
            </td>
        </tr>
        }
    </tbody>
</table>